<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WOH</title>
    <style type="text/css">
        /* ===> Importing Fonts <=== */
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
        @import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
        @import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);

        /* ===> Global CSS <=== */
        .ReadMsgBody {
            width: 100%;
            background-color: #FFFFFF;
        }

        .ExternalClass {
            width: 100%;
            background-color: #FFFFFF;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        html {
            width: 100%;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', Arial, Sans-serif !important;
        }

        table {
            border-spacing: 0;
            table-layout: auto;
            margin: 0 auto;
        }

        img {
            display: block !important;
            overflow: hidden !important;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        a {
            color: #aaaaaa;
            text-decoration: none;
        }

        .ava_text_button a {
            font-family: 'open sans', arial, sans-serif !important;
        }

        .ava_button_link a {
            color: #FFFFFF !important;
        }

        /* ===> Responsive CSS For Tablets <=== */
        @media only screen and (max-width: 640px) {
            body {
                margin: 0px;
                width: auto !important;
                font-family: 'Open Sans', Arial, Sans-serif !important;
            }

            .inner_tab {
                width: 90% !important;
                max-width: 90% !important;
            }

            .outer_tab {
                width: 100% !important;
                max-width: 100% !important;
                text-align: center !important;
            }
        }

        /* ===> Responsive CSS For Phones <=== */
        @media only screen and (max-width: 479px) {
            body {
                width: auto !important;
                font-family: 'Open Sans', Arial, Sans-serif !important;
            }

            .inner_tab {
                width: 90% !important;
                text-align: center !important;
            }

            .outer_tab {
                width: 100% !important;
                max-width: 100% !important;
                text-align: center !important;
            }

            .auto_line {
                width: 100% !important;
                max-width: 100% !important;
                text-align: center !important;
            }
        }
    </style>

</head>

<body>
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

        <!-- ====> STARTING <========================= -->
        <!--                   Intro                   -->
        <!-- ========================================= -->
        <table class="full" bgcolor="#FFFFFF" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" bgcolor="#ffffff">
                    <table class="inner_tab" width="100%" style="max-width: 100%; padding-bottom: 5px; padding-left: 5px;" border="0"
                        cellpadding="0" cellspacing="0">
                        <tr>
                            <td>

                                <!-- ======= SECTION : LEFT =======> START -->
                                <table width="179" align="left" class="outer_tab" border="0" cellpadding="0"
                                    cellspacing="0">

                                    <!--   Image   -- START -->
                                    <tr>
                                        <td align="center" style="line-height: 0px;">
                                            <img src="{{ .URL_IMAGENES }}/logo-letras.png" width="179"
                                                alt="Intro Logo"
                                                style="display:block; line-height:0px; font-size:0px; border:0px;" />
                                        </td>
                                    </tr>
                                    <!--   Image   --- END --->

                                </table>
                                <!-- ======= SECTION : LEFT =======>  END  -->

                                <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
                                <table width="18" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="4"></td>
                                    </tr>
                                </table>
                                <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->

                                <!-- ======= SECTION : RIGHT =======> START -->
                                <table width="400" align="right" class="outer_tab" border="0" cellpadding="0"
                                    cellspacing="0">

                                    <tr>
                                        <td align="right">
                                            <table align="right" class="outer_tab" border="0" cellspacing="0"
                                                cellpadding="0">
                                                <tr>
                                                    <td align="center">
                                                        <table border="0" align="center" cellpadding="0" cellspacing="0"
                                                            class="textbutton">

                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                                <!-- ======= SECTION : RIGHT =======>  END  -->


                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- ========================================= -->
        <!--                   Intro                   -->
        <!-- ===========================> ENDING <==== -->



        <!-- ====> STARTING <========================= -->
        <!--                  Header                   -->
        <!-- ========================================= -->
        <table class="full" bgcolor="#FFFFFF" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td background="https://s3.amazonaws.com/woh-files/fondo.png" bgcolor="#282828" valign="top"
                    style="background-size:cover; background-position:center;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="90%" align="center" style="font-size:0px">
                                <table class="inner_tab" width="90%" border="0" align="center" cellpadding="0"
                                    cellspacing="0" style="padding-left: 10px; padding-right: 10px;" >
                                    <tr>
                                        <td height="70"></td>
                                    </tr>

                                    <!--   Title   -- START -->
                                    <tr>
                                        <td align="left"
                                            style="font-family: 'raleway', Arial, sans-serif; font-size: 28px; font-weight: 900; color: #ffffff; letter-spacing: 4px; line-height: 38px;">
                                            Hola {{ .NOMBRES }} {{ .APELLIDOS }}
                                        </td>
                                    </tr>
                                    <!--   Title   --- END --->

                                    <tr>
                                        <td height="70"></td>
                                    </tr>

                                    <tr>
                                        <td align="left"
                                            style="font-family: 'open sans', Arial, sans-serif; font-size: 15px; color: #ffffff; letter-spacing: .5px; line-height: 23px;">
                                            Bienvenido a <strong>Words of Hope</strong>, para nosotros es un placer que hagas parte de nuestra familia.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="30"></td>
                                    </tr>

                                    <tr>
                                        <td align="left"
                                            style="font-family: 'open sans', Arial, sans-serif; font-size: 15px; color: #ffffff; letter-spacing: .5px; line-height: 23px;">
                                            Para activar tu usuario usa el siguiente código de seguridad:
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="16"></td>
                                    </tr>

                                    <!--   Button   -- START -->
                                    <tr>
                                        <td align="center">
                                            <table border="0" align="left" cellpadding="0" cellspacing="0"
                                                class="textbutton">
                                                <tr>
                                                    <td class="ava_button_link" bgcolor="#489CA2" height="44"
                                                        align="center"
                                                        style="font-size: 25px; font-weight: 600; color: #FFFFFF; letter-spacing: 1px; padding-left: 25px; padding-right: 25px; border-radius: 4px;">
                                                        {{ .CODIGO }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <!--   Button   --- END --->

                                    <tr>
                                        <td height="70"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- ========================================= -->
        <!--                  Header                   -->
        <!-- ===========================> ENDING <==== -->


        <!-- ====> STARTING <========================= -->
        <!--                  Footer                   -->
        <!-- ========================================= -->
        <table class="full" bgcolor="#FFFFFF" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" bgcolor="#489CA2">
                    <table class="inner_tab" width="90%" style="max-width: 90%;" border="0" cellpadding="0"
                        cellspacing="0">
                        <tr>
                            <td height="60"></td>
                        </tr>

                        <tr>
                            <td align="center"
                                style="">
                                <table border="0" cellspacing="0" cellpadding="0">

                                    <!--   Title   -- START -->
                                    <tr>
                                        <td align="center"
                                            style="font-family: 'quicksand', Arial, sans-serif; font-size: 16px; font-weight: 500; color: #FFFFFF; letter-spacing: 0.8px; line-height: 25px;">
                                            2019 &copy; Todos los derechos reservados por <strong>Words of Hope</strong>
                                        </td>
                                    </tr>
                                    <!--   Title   --- END --->

                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td height="60"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- ========================================= -->
        <!--                  Footer                   -->
        <!-- ===========================> ENDING <==== -->
    </table>
</body>

</html>